.normal_enter
    transform translateX(70%)
    opacity 0

.normal_leave-to
    transform translateX(-70%)
    opacity 0

.normal_enter-active
    transition all .32s .32s linear

.normal_leave-active
    transition all .32s linear

.pre_normal_enter
    transform translateX(-70%)
    opacity 0

.pre_normal_leave-to
    transform translateX(70%)
    opacity 0

.pre_normal_enter-active
    transition all .32s .32s linear

.pre_normal_leave-active
    transition all .32s linear

.slide_enter,
.slide_leave-to
    transform translate3d(100%, 0, 0)

.slide_enter-to,
.slide_leave
    transform: translate3d(0, 0, 0)

.slide_enter-active,
.slide_leave-active
    transition all .32s