.normal_enter
    transform translateX(20px)
    opacity 0

.normal_leave-to
    transform translateX(-20px)
    opacity 0

.normal_enter-active
    transition all .24s .24s

.normal_leave-active
    transition all .24s

.pre_normal_enter
    transform translateX(-20px)
    opacity 0

.pre_normal_leave-to
    transform translateX(20px)
    opacity 0

.pre_normal_enter-active
    transition all .24s .24s

.pre_normal_leave-active
    transition all .24s

.slide_enter,
.slide_leave-to
    transform translate3d(100%, 0, 0)

.slide_enter-to,
.slide_leave
    transform: translate3d(0, 0, 0)

.slide_enter-active,
.slide_leave-active
    transition all .24s