@import 'variable.styl'

html, body
    line-height 1
    font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallbask'
    user-select none
    -webkit-tap-highlight-color transparent
    background $color-background
    color: $color-text
    font-size: $font-size-medium

button
    display flex
    justify-content center
    align-items center
    border none
    outline none
    background none