// 颜色定义
$color-background = #222;
$color-background-d = rgba(0, 0, 0, 0.3);
$color-background-dd = rgba(0, 0, 0, 0.6);
$color-background-ddd = rgba(0, 0, 0, 0.8);
$color-highlight-ld = #333;
$color-background-lowlight = rgba(255, 255, 255, .5);
$color-background-light = #fff;
$color-theme = #ffcd32;
$color-black = #000;
$color-text = #fff;
$color-text-l = rgba(255, 255, 255, 0.3);
$color-text-ll = rgba(255, 255, 255, 0.5);
$color-text-lll = rgba(255, 255, 255, 0.8);

//字体定义
$font-size-small = 10PX;
$font-size-small-x = 12PX;
$font-size-medium = 14PX;
$font-size-medium-x = 16PX;
$font-size-large = 18PX;
$font-size-large-x = 22PX;